.winners {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

table,
th,
td {
  border: 1px solid #000000;
  border-collapse: collapse;
  background-color: rgb(199, 195, 195);
}

.win-table {
  align-self: center;
  width: 100%;
  max-width: 800px;
}

.win-table td {
  text-align: center;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 0 black;
}

.win-table th {
  width: 100px;
  font-size: 1.4rem;
  color: #000000;
  text-shadow: 1.5px 1px 0 #ffffff;
}

.win-table .car svg {
  width: 80px;
}

.winners .page-turns {
  align-self: center;
}

.sort-cell {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.asc::after,
.asc::before,
.desc::after,
.desc::before {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 2px;
  background-color: #000000;
  top: 50%;
  transition: all linear 400ms;
}

.asc::after {
  transform: rotate(45deg);
  right: 8px;
}

.asc::before {
  transform: rotate(-45deg);
  right: 4px;
}

.desc::after {
  transform: rotate(-45deg);
  right: 8px;
}

.desc::before {
  transform: rotate(45deg);
  right: 4px;
}

@media screen and (max-width: 700px) {
  .win-table th {
    height: 80px;
  }

  .asc::after,
  .asc::before,
  .desc::after,
  .desc::before {
    top: 85%;
  }

  .asc::before,
  .desc::before {
    right: 45%;
  }

  .asc::after,
  .desc::after {
    right: 41%;
  }
}
