body {
    color: #fff;
    background: linear-gradient(#9198e5, #d5e8b1);
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    color: #17181c;
}

.filter {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.lang__btn {
    cursor: pointer;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    box-shadow: 0.1em 0.1em 0.2em #000000;
    color: #e7f0d7;
    border-radius: 20px;
    font-size: 0.8rem;
    transition: all 150ms linear;
}

.lang__btn:hover {
    background-color: #545353;
}

.lang__btn.active {
    background-color: #e7f0d7;
    box-shadow: 0.1em 0.1em 0.5em #e7f0d7;

    color: #17181c;
}

.lang__btn-name {
    pointer-events: none;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
