.main__message-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.message-section__header {
  display: flex;
  justify-content: space-around;
  width: 95%;
  border-bottom: solid 2px #ffffff;
  height: 2em;
}

.message-section__chat-field {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.message-section__chat-form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.chat-form__field {
  flex-grow: 5;
}

.chat-form__submit {
  font-size: 1em;
  flex-grow: 1;
}

.chat-form__submit:disabled {
  cursor: default;
  background-color: gray;
}
.chat-form__submit:disabled:hover {
  color: white;
  text-shadow: none;
}

@media screen and (max-width: 500px) {
  .main__message-section {
    width: 100%;
  }

  .message-section__header {
    font-size: 0.75em;
  }

  .message-section__chat-form {
    font-size: 0.9em;
  }
}
