.message-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.message-section__header {
  display: flex;
  justify-content: space-around;
  width: 95%;
  border-bottom: solid 2px #ffffff;
  height: 2em;
}

.message-section__chat-field {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-section__chat-form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.chat-form__field {
  flex-grow: 5;
}

.chat-form__submit {
  font-size: 1em;
  flex-grow: 1;
}
