.switches {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
}

.switch {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-size: cover;
}

.translate-switch {
  background-image: url('../../../../assets/translate.png');
}

.audio-switch {
  background-image: url('../../../../assets/audio.png');
}

.switch.disabled {
  opacity: 0.3;
}
