.chat-page {
  height: 100%;
  max-height: 1000px;
  min-height: 300px;
  width: 90%;
  min-width: 300px;
  max-width: 1000px;
  padding: 1rem 0;
  margin: 1rem;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .chat-page {
    width: 100%;
  }
}
