.info-page {
  padding: 1.5rem 4rem;
  width: 95%;
  height: 50%;
  max-width: 1200px;
  min-width: 300px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-page__title {
  font-size: 1.7em;
  color: #260d2f;
  text-shadow: 1px 2px 5px #7b3795;
  align-self: center;
}

.info-pages__features {
  background-color: #260d2f53;
  border-radius: 6px;
  padding: 10px;
}

.info-page__link {
  color: #42224e;
  text-shadow: 1px 2px 5px #8b4ba4;
  transition: all linear 100ms;
}
.info-page__link:hover {
  color: #703386;
  text-shadow: 1px 2px 5px #a95dc7;
}
