html {
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    margin: 0 40px;
    overflow-x: hidden;
}

.header-menu {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
}

.links {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.link {
    text-decoration: none;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #403F3D;
    height: 28px;
}

.link-menu {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #403F3D;
    height: 26px;
}

.link::before {
    position: absolute;
    content: '';
    top: 24px;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    transform: scaleX(0);
    transition: transform 500ms ease-out;
}

.link:hover::before {
    transform: scaleX(1);
}

.coffee-menu {
    position: relative;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.coffee-menu::before {
    position: absolute;
    content: '';
    top: 24px;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    transform: scaleX(0);
    transition: transform 500ms ease-out;
}

.coffee-menu:hover::before {
    transform: scaleX(1);
}

.menu-burger {
    display: none;
}

@media (max-width: 768px) {
    .links, .coffee-menu {
        display: none;
    }  
    
    .menu-burger {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 100px;
        border: 1px solid #665F55;
        justify-content: center;
        align-items: center;
    }
}
