html {
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
   
}

.header-menu {
    margin: 20px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
}

.links {
    width: 1188px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.link {
    text-decoration: none;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #403F3D;
    height: 28px;
}

.link-menu {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #403F3D;
    height: 26px;
}

.link::before {
    position: absolute;
    content: '';
    top: 24px;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    transform: scaleX(0);
    transition: transform 500ms ease-out;
}

.link:hover::before {
    transform: scaleX(1);
}

.coffee-menu {
    position: relative;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.coffee-menu::before {
    position: absolute;
    content: '';
    top: 24px;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    transform: scaleX(0);
    transition: transform 500ms ease-out;
}

.coffee-menu:hover::before {
    transform: scaleX(1);
}

