.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 16px;
}

.coffee-menu-page {
    cursor: default;
    position: relative;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.coffee-menu-page::before {
    position: absolute;
    content: '';
    top: 24px;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
}

.offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.offer-text {
    width: 800px;
    height: auto;
    margin: 0;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

.amazing-word {
    color: #B0907A;
}

.tabs {
    display: flex;
    gap: 16px;
}

.tab {
    cursor: pointer;
    border: solid 1px #C1B6AD;
    border-radius: 100px;
    padding: 8px 16px 8px 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: none;
    transition: 
    background-color 500ms ease-out,
    border 500ms ease-out;
}

.emoji {
    text-align: center;
    padding: 3px 7px;
    width: 16px;
    height: 24px;
    border-radius: 100px;
    background-color: #C1B6AD;
    transition: background-color 500ms ease-out ;
}

.tab-text {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D; 
    transition: color 500ms ease-out;
}

.tab-coffee {
    cursor: default;
    border-radius: 100px;
    background-color: #665F55;
    padding: 8px 16px 8px 8px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.emoji-coffee {
    padding: 3px 7px;
    width: 16px;
    height: 24px;
    border-radius: 100px;
    background: #E1D4C9;
}

.tab-text-coffee {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #E1D4C9; 
}

.grid {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
  justify-content: center;
}

.item,
.item-5,
.item-6,
.item-7,
.item-8 {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #C1B6AD;
    border-radius: 40px;
    width: 310px;
    height: 506px;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8 {
    width: 310px;
    height: 310px;
    border-radius: 40px;
}

.image-1 {
    background: url(../images/coffee-1.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;

}

.image-2 {
    background: url(../images/coffee-2.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.image-3 {
    background: url(../images/coffee-3.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.image-4 {
    background: url(../images/coffee-4.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.image-5 {
    background: url(../images/coffee-5.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.image-6 {
    background: url(../images/coffee-6.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.image-7 {
    background: url(../images/coffee-7.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.image-8 {
    background: url(../images/coffee-8.svg);
    background-size: 110%;
    transition: background-size 500ms ease-out;
    background-position: center;
}

.description {
    box-sizing: border-box;
    height: 196px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.coffee-name, .price {
    margin: 0;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

.coffee-description {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #403F3D;
}

.refresh {
    display: none;
}

@media (max-width: 768px) {
    .coffee-menu-page {
        display: none;
    }

    .offer-text {
        width: 100%;
    }

    .tab {
        cursor: default;
    }

    .tab:hover {
        background-color: #E1D4C9;
        border-color: #C1B6AD;
    }

    .tab:hover .emoji {
        background-color: #C1B6AD;
    }

    .tab:hover .tab-text {
        color: #403F3D;
    }

    .item:hover .image-1,
    .item:hover .image-2,
    .item:hover .image-3,
    .item:hover .image-4,
    .item:hover .image-5,
    .item:hover .image-6,
    .item:hover .image-7,
    .item:hover .image-8 {
        background-size: 110%;
    }

    .refresh {
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid #665F55;
    }

    .item-5,
    .item-6,
    .item-7,
    .item-8 {
        display: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .tab:hover {
        cursor: pointer;
        background-color: #665F55;
        border-color: #665F55;
    }

    .tab:hover .emoji {
        background-color: #E1D4C9;
    }

    .tab:hover .tab-text {
        color: #E1D4C9;
    }

    .item:hover .image-1,
    .item:hover .image-2,
    .item:hover .image-3,
    .item:hover .image-4,
    .item-5:hover .image-5,
    .item-6:hover .image-6,
    .item-7:hover .image-7,
    .item-8:hover .image-8 {
        background-size: 100%;
    } 

}

@media (max-width: 670px) {
    .offer-text {
        font-size: 32px;
    }

    .tabs {
        gap: 8px;
    }
}