.container-hero {
    box-sizing: border-box;
    height: 644px;
    margin-top: 16px;
    padding: 100px;
    background: url(../images/img-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
}

.offer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px;
    width: 530px;
    height: 444px;
}

.head-text {
    margin: 0;
    font-family: 'Inter';
    font-size: 72px;
    color: #E1D4C9;
    line-height: 106%;
}

.enjoy {
    color: #B0907A;
}

.def-text {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #E1D4C9;
}

.menu-button {
    position: relative;
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: none;
    background-color: #E1D4C9;
    cursor: pointer;
}

.button-text {
    position: absolute;
    left: 78px;
    bottom: 20px;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    transform: translateX(0);
    transition: transform 300ms ease-in;
}

.menu-button:hover .button-text {
    transform: translateX(-15px);
}

.coffee-cup {
    position: absolute;
    right: 65px;
    bottom: 24px;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.menu-button:hover .coffee-cup {
    opacity: 1;
}

@media (max-width: 768px) {
    .container-hero {
        padding: 6.25rem 3.75rem;
    }

    .menu-button {
        cursor: default;
    }

    .button-text {
        transform: translateX(-15px);
    }

    .coffee-cup {
        opacity: 1;
    }
}
