.container-mobile-app {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.offer-app {
    width: 630px;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.download-text {
    margin: 0;
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 600;
    line-height: 125%; 
    color: #403F3D;
}

.download-word {
    color: #B0907A;
}

.app-text {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #403F3D;
}

.buttons {
    width: 420px;
    height: 64px;
    display: flex;
    gap: 20px;
}

.apple, .google {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px;
    width: 200px;
    border: solid 1px #665F55;
    border-radius: 100px;
    background-color: none;
    transition: background-color 500ms ease-in;
}

.apple:hover, .google:hover {
    background-color: #665F55;
}


.avalibale-text, .store-text {
    margin: 0;
}

.avalibale-text {
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    color: #403F3D;
    transition: color 500ms ease-in;

}

.store-text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
    transition: color 500ms ease-in;
}

.apple:hover .avalibale-text, 
.apple:hover .store-text, 
.google:hover .avalibale-text, 
.google:hover .store-text {
    color: #E1D4C9;
}

.apple-svg, .google-svg {
    width: 36px;
    height: 36px;
    fill: #403F3D;
    transition: fill 500ms ease-in;
}

.apple:hover .apple-svg, .google:hover .google-svg {
    fill: #E1D4C9
}

@media (max-width: 768px)  {
    .container-mobile-app {
        flex-direction: column;
    }

    .offer-app {
        width: 43rem;
    }

    .apple, .google {
        cursor: default;
    }

    .apple:hover, .google:hover {
        background-color: #E1D4C9;
    }

    .apple:hover .avalibale-text, 
    .apple:hover .store-text, 
    .google:hover .avalibale-text, 
    .google:hover .store-text {
        color: #403F3D;
    }

    .apple:hover .apple-svg, .google:hover .google-svg {
        fill: #403F3D
    }
    
}