.container-favorite {
    width: 1360px;
    height: 799px;
    margin: 100px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.fav-text {
    margin: 0;
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

.favorite-word {
  color: #B0907A;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.product {
    margin: 0;
    width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.description {
    width: 480px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.drink, .price {
    margin: 0;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.description-text {
    margin: 0;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.arrow {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
    background-color 500ms ease-out, 
    border-color 500ms ease-out;
}

.arrow:hover{
    background-color: #665F55;
    border-color: #665F55;
}

.arrow-svg {
    stroke: #665F55;
    width: 24px;
    height: 24px;
    transition: stroke 500ms ease-out;
}


.arrow:hover .arrow-svg {
    stroke: #E1D4C9;
}

.controls {
    width: 144px;
    display: flex;
    gap: 12px;
}

.control, .control-off {
    border-radius: 100px;
    width: 40px;
    height: 4px;
    background-color: #665F55;
}

.control-off {
 background-color: #C1B6AD;
}

