.button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0.2rem 0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: all linear 200ms;
}

.control-buttons {
  width: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: rgb(188, 186, 186);
  color: rgb(232, 232, 232);
}

.control:hover {
  background-color: rgb(217, 217, 217);
}

.remove {
  width: 4.5rem;
}
