.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  background-color: #3b35b0;
  color: #e1dede;
  font-size: 1.1rem;
  border-radius: 10px;
  border: solid 1px #110286;
  border-bottom: 4px solid #5953da;
  transition: all linear 200ms;
}

.button:hover {
  background-color: #4a43d3;
  color: rgb(255, 255, 255);
}

.control-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.button.control {
  width: 1rem;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
}

.start-button {
  background-color: #7bc50c;
  border-color: green;
  color: #000000;
}

.start-button:hover {
  background-color: #8ddb18;
  color: #000000;
}

.stop-button {
  background-color: #dc3434;
  border-color: #5e0000;
  color: #000000;
}

.stop-button:hover {
  background-color: #f85e5e;
  color: #000000;
}

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: #bbb9b9;
  color: #525151;
  border-color: grey;
}
