.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  background-color: #3b35b0;
  color: #ffffff;
  font-size: 1.1rem;
  text-shadow: 1px 1px 0 black;
  border-radius: 10px;
  border: solid 1px #110286;
  border-bottom: 4px solid #5953da;
  transition: all linear 200ms;
}

.button:hover {
  background-color: #4a43d3;
  color: rgb(255, 255, 255);
}

.control-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.button.control {
  width: 1rem;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
  text-shadow: none;
}

.start-button {
  background-color: #7bc50c;
  border-color: green;
  color: #000000;
}

.start-button:hover {
  background-color: #8ddb18;
  color: #000000;
}

.stop-button {
  background-color: #dc3434;
  border-color: #5e0000;
  color: #000000;
}

.stop-button:hover {
  background-color: #f85e5e;
  color: #000000;
}

.page-turns {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.page-turn {
  font-size: 1.5rem;
  text-shadow: 0 1px 1px black;
  padding: 0.3rem 1.5rem;
  background-color: #b98137;
  border-color: #8e642d;
  border-bottom: 6px #8e642d solid;
  border-radius: 10px;
  color: white;
}

.page-turn:hover {
  background-color: #cf903f;
}

.interact-with-cars {
  margin: 1rem 0 0 0.5rem;
  display: flex;
  gap: 1rem;
}

.race-buttons {
  display: flex;
  gap: 0.5rem;
}

.start-race,
.stop-race {
  font-size: 1.3rem;
}

.start-race {
  background-color: #e90909;
  color: white;
  border-color: #810909;
  padding: 0.2rem 1rem;
}

.start-race:hover {
  background-color: #eb3f3f;
}

.stop-race {
  background-color: #6ccad6;
  color: white;
  border-color: #528890;
}

.stop-race:hover {
  background-color: #78d7e3;
}

.generation-button {
  background-color: #c50c94;
  border-color: #720655;
}

.generation-button:hover {
  background-color: #d720a6;
}

.navigation-button {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #b98137;
  border-color: #8e642d;
  border-bottom: 6px #8e642d solid;
}

.navigation-button:hover {
  background-color: #cf903f;
}

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: #bbb9b9;
  color: #525151;
  border-color: grey;
  text-shadow: none;
}
