.result-block {
  overflow: hidden;
  border: 10px solid #3a1e0c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: #ffffff;
  text-shadow: 1px 1px 10px #818181;
  background-size: contain;
}

.pic-brief {
  align-self: flex-end;
  font-size: 0.7rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
