.backdrop {
  z-index: 19;
  position: fixed;
  inset: 0;
  background-color: #00000055;
}

.statistics {
  overflow-y: scroll;
  z-index: 20;
  position: fixed;
  width: 35rem;
  height: 30rem;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  border: solid 1px #a5a5a5;
  display: flex;
  box-sizing: border-box;
  padding: 2.5rem;
  flex-direction: column;
  transition: all linear 300ms;
}

.statistics .continue-button {
  align-self: flex-end;
  cursor: pointer;
  width: 7rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all linear 200ms;
  color: white;
}

.statistics .image {
  align-self: center;
  width: fit-content;
  height: 50%;
}

.category-title {
  margin: 1rem 0 1rem 0;
  font-size: 1.3rem;
  color: #785015;
}

.statistics .sentense {
  margin: 0.2rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.statistics .audio-block {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../../../../../assets/note.png');
}
