.game-page {
  max-width: 1200px;
  min-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.game-header {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  order: 1;
}

.round-view {
  order: 2;
}
