.check-button,
.continue-button {
  user-select: none;
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all linear 200ms;
  color: white;
}
.check-button {
  background-color: rgb(168, 199, 227);
}

.check-button.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #979797;
  color: #bcb9b9;
}

.continue-button {
  background-color: rgb(137, 198, 251);
}
