.selection-menu {
  display: flex;
  gap: 1rem;
}

.select {
  position: relative;
}

.current-option {
  background-color: #000000;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.drop-down {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 110%;
  max-height: 70vh;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 30;
}

.option {
  text-align: center;
  user-select: none;
  cursor: pointer;
  color: black;
  padding: 0.5rem 1.5rem;
  display: block;
}

.option.passed {
  color: rgb(201, 201, 201);
  background-color: rgb(192, 190, 190);
}

.option:hover {
  background-color: rgb(241, 241, 241);
}

.select:hover .drop-down {
  display: block;
}
