.disconnect-banner {
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005a;
  backdrop-filter: blur(3px);
  font-size: 1.5rem;
}

.disconnect-banner__notification {
  background-color: #3535352a;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 30%;
  padding: 1em;
  border-radius: 5px;
}

.loader {
  width: 1.6em;
  height: 1.6em;
  border: solid 0.2em #8080803b;
  border-radius: 1.4em;
  border-bottom-color: white;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .disconnect-banner__notification {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .disconnect-banner__notification {
    width: 80%;
    font-size: 0.7em;
  }
}
