.create-redo-fields {
  margin: 1rem 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #6161611b;
  padding: 0.5rem;
  border-radius: 10px;
}

.form input {
  transition: all linear 200ms;
}

.form input[type='text'] {
  font-family: 'Racing Sans One', sans-serif;
  font-size: 1.1rem;
  border: solid 1px #616161;
  border-radius: 3px;
  height: 1.5rem;
  width: 8rem;
}

.form input[type='text']:focus-visible {
  outline: none;
}

.form input[type='color'] {
  width: 2.5rem;
  cursor: pointer;
  border-radius: 6px;
  background-color: #dcdcdc;
  border: solid 1px black;
  height: 1.5rem;
}

.form input[type='color']:disabled {
  cursor: default;
}

.form input[type='submit'] {
  cursor: pointer;
  width: 5rem;
  font-family: 'Racing Sans One', sans-serif;
  background-color: #752ed1;
  border: solid 1px #3b146e;
  border-bottom: 6px #3b146e solid;
  color: white;
  text-shadow: 1px 1px 0 black;
  border-radius: 5px;
  font-size: 1.1rem;
}

.form input[type='submit']:disabled {
  cursor: default;
  background-color: #9f9f9f;
  border-color: #616161;
  color: #d4d3d3;
}

.create-form {
  position: relative;
}

.input-hint {
  user-select: none;
  position: absolute;
  opacity: 0;
  left: 0.35rem;
  bottom: -0.9rem;
  user-select: none;
  background-color: #ffffff;
  padding: 0.3rem 0.5rem;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 0.8rem;
  transition: all linear 200ms;
}
