.hints {
  display: flex;
  gap: 1rem;
}

.translate-block {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.audio-block {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../../../assets/wave.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.animated {
  animation: zoom 0.5s infinite ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.off {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
