* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Dancing Script', cursive;
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.light-theme {
  --back-color: #ffff;
  --transparent-back: #ffffffaf;
  --game-button: #ff7691;
  --mode-button: #393939;
  --mode-button-font: #fff;
  --buttons-font: #fff;
  --fill-cell: #000000;
  --table-back: #fff;
  --border-table: #181818;
  --level-border: #808080;
  --font-color: #000000;
  --score-border: #c5c1c1;
  --overlay: #00000088;
   --notif-back: #0000008c;
}

.dark-theme {
  --back-color: #444544;
  --transparent-back: #00000063;
  --game-button: #ff7691;
  --mode-button: #fff;
  --mode-button-font: #393939;
  --buttons-font: #000000;
  --fill-cell: #fff;
  --table-back: var(--back-color);
  --border-table: #e1dada;
  --level-border: #808080;
  --font-color: #fff;
  --score-border: #c5c1c1;
  --overlay: #ffffffa5;
  --notif-back: #ffffff62;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Images */
.branch {
  z-index: -1;
  position: absolute;
  width: 35%;
  top: -40px;
}

.branch-1 {
  left: -60px;
}

.branch-2 {
  right: -110px;
}

/* Header */

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  justify-self: flex-start;
  color: var(--font-color);
}

.dark-theme .title {
  text-shadow: 1px 0 10px var(--font-color);
}

.config-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 10px;
  top: 10px;
  padding: 0 5px 0 5px;
  background-color: #ffffff27;
  backdrop-filter: blur(1.5px);
  border-radius: 30px;
  gap: 15px;
}

.dark,
.light,
.volume,
.menu {
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all ease 400ms;
}

.wrap {
  height: 25px;
  width: 25px;
  overflow: hidden;
}

.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 25px;
  transition: all 200ms linear;
}

.dark {
  background-image: url('./images/moon.png');
  width: 25px;
  height: 25px;
}

.light {
  background-image: url('./images/sun.png');
  width: 25px;
  height: 25px;
}

.light:hover {
  filter: brightness(1.5);
  background-size: 110%;
  transform: rotate(-45deg);
}

.dark:hover {
  filter: brightness(1.5);
  background-size: 110%;
  transform: rotate(45deg);
}

.volume {
  background-image: url('./images/saxaphone.png');
  width: 25px;
  height: 25px;
}

.volume:hover {
  filter: brightness(1.5);
  transform: rotate(35deg);
}

.volume.off:hover {
  transform: rotate(0);
}

.volume.off::after {
  position: absolute;
  content: '';
  width: 1.5px;
  height: 30px;
  background-color: rgb(180, 23, 23);
  transform: rotate(45deg) translate(10px, -10px);
  transition: all ease 400ms;
}

.menu {
  background-image: url('./images/scroll.png');
  background-position: center;
  width: 25px;
  height: 40px;
}

.menu:hover {
  filter: brightness(1.1);
  background-size: 140%;
}

.score {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./images/trophy.png');
  transition: all ease 400ms;
}

.score:hover {
  filter: brightness(1.3);
  transform: rotate(-25deg);
}

/* Game Zone */

.game {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.timer {
  color: var(--font-color);
  margin: 10px;
}

.game-btns {
  z-index: 2;
  margin-top: 10px;
  order: 3;
  width: 490px;
  display: flex;
  justify-content: space-around;
}

.solution,
.reset,
.save {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  width: fit-content;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--game-button);
  font-size: 18px;
  color: #fff;
  transition: all ease 400ms;
}

.unclick-button {
  pointer-events: none;
  color: #cfcece;
  background-color: #807f7f;
}

.save {
  order: 3;
}

.solution:hover,
.reset:hover,
.save:hover {
  filter: brightness(1.3);
}

/* Table */

.table {
  order: 2;
  user-select: none;
  align-self: center;
  font-size: 20px;
  border-collapse: collapse;
  border: solid 1px var(--border-table);
  background-color: var(--table-back);
  box-shadow: 1px 0 70px var(--score-border);
  opacity: 0;
  animation: opacity 500ms ease-out forwards;
}

.unclick {
  pointer-events: none;
}

.ceil {
  border: solid 1px var(--border-table);
  color: var(--font-color);
}

.ceil.bold {
  border-right: solid 3px var(--border-table);
}

.row.bold {
  border-bottom: solid 2px var(--border-table);
}

.ceil-box {
  cursor: pointer;
  position: relative;
}

.ceil-box.painted {
  background-color: var(--fill-cell);
  transition: all linear 300ms;
}

.ceil-box.cross::after,
.ceil-box.cross::before {
  position: absolute;
  content: '';
  width: 1.5px;
  height: 30px;
  background-color: var(--fill-cell);
  top: -2px;
  left: 12px;
  opacity: 0;
  animation: opacity 300ms ease-out forwards;
}

.ceil-box.cross::after {
  transform: rotate(-45deg);
}
.ceil-box.cross::before {
  transform: rotate(45deg);
}

.ceil-clues-row {
  width: 85px;
  height: 25px;
}

.ceil-clues-col {
  width: 25px;
  height: 85px;
}

.nums-col,
.nums-row {
  font-size: 15px;
}

.nums-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  margin-right: 5px;
}

.nums-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: end;
  align-items: center;
}

/* Level Menu*/

.level-menu {
  z-index: 99;
  position: fixed;
  transform: translateX(-110%);
  align-self: flex-start;
  height: 85%;
  max-height: 650px;
  width: 450px;
  background-color: var(--back-color);
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transition: all linear 350ms;
}

.sakura {
  pointer-events: none;
  position: absolute;
  width: 110%;
  transform-origin: bottom left;
  opacity: 0.85;
  transform: rotate(35deg);
  left: -70px;
  bottom: 50px;
}

.complexity {
  align-self: flex-start;
  width: 90%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.grade {
  cursor: pointer;
  user-select: none;
  width: 25%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--game-button);
  color: #fff;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 17px;
  transition: all ease 400ms;
}

.grade:hover {
  width: 50%;
  background-color: #fe849c;
}

.grade.chosen {
  height: 45px;
  width: 50%;
  background-color: #fe5779;
}

.close-btn {
  position: absolute;
  right: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.close-btn::after,
.close-btn::before {
  position: absolute;
  width: 1px;
  height: 25px;
  background-color: var(--font-color);
  content: '';
  left: 15px;
  top: 5px;
  transform-origin: center;
  transition: all ease 300ms;
}

.close-btn::before {
  transform: rotate(-45deg);
}

.close-btn::after {
  transform: rotate(45deg);
}

.close-btn:hover::after,
.close-btn:hover::before {
  height: 22px;
}

.level-list {
  z-index: 2;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

.level {
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent-back);
  box-shadow: 1px 0 20px var(--transparent-back);
  font-size: 25px;
  color: var(--font-color);
  border-radius: 30px;
  opacity: 0;
}
.light-theme .level {
  border: 0.5px solid gray;
}

.level.visible {
  opacity: 1;
  transition: opacity linear 500ms, filter linear 200ms,
    background-color linear 200ms;
}

.light-theme .level.visible:hover {
  filter: brightness(0.9);
}

.dark-theme .level.visible:hover {
  background-color: #25252593;
}

.light-theme .level.visible.selected {
  filter: brightness(0.8);
}

.dark-theme .level.visible.selected {
  background-color: #57575793;
}

/* Game-mode */

.game-mode {
  margin: 10px 10px 10px 0;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.random,
.last-game {
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mode-button);
  font-size: 18px;
  color: var(--mode-button-font);
  border-radius: 30px;
  width: fit-content;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all ease 500ms;
}

.random:hover,
.last-game:hover {
  filter: brightness(1.5);
}

/* Notifications */

.no-saved,
.game-saved {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--notif-back);
  color: #fff;
  height: 25px;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  opacity: 1;
  animation: slide-up 150ms linear forwards, notify 400ms linear 2s forwards;
}

@keyframes notify {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
  } to {
    transform: translateY(-30px);
  }
}

/* Win Modal */

.overlay {
  z-index: 97;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 0;
  transition: opacity 300ms ease-out;
  animation: opacity 300ms ease-out forwards;
}

.modal {
  z-index: 98;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--back-color);
  color: var(--font-color);
  width: 50%;
  max-width: 720px;
  height: 80%;
  max-height: 550px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  animation: opacity 300ms ease-out forwards;
}

.modal-text {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.congrats {
  font-size: 50px;
}

.dark-theme .congrats {
  text-shadow: 1px 0 10px var(--font-color);
}

.phrase {
  font-size: 30px;
}

.next {
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  width: fit-content;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--game-button);
  color: #fff;
  font-size: 18px;
  transition: all ease 400ms;
}

.next:hover {
  filter: brightness(1.3);
}

.solved {
  border-collapse: collapse;
}

.solved-cell.painted {
  background-color: var(--fill-cell);
}

.solved-cell.small {
  width: 50px;
  height: 50px;
}

.solved-cell.medium {
  width: 30px;
  height: 30px;
}

.solved-cell.big {
  width: 20px;
  height: 20px;
}

/* Score Modal*/

.score-modal {
  z-index: 99;
  position: fixed;
  width: 50%;
  max-width: 700px;
  height: 70%;
  max-height: 500px;
  background-color: var(--back-color);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  opacity: 0;
  animation: opacity 300ms ease-out forwards;
}

.score-modal .close-btn {
  top: 10px;
  right: 10px;
}

.score-modal.none {
  display: none;
}
.score-sakura {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 30px;
}

.title-score {
  margin-top: 10px;
  color: var(--font-color);
  font-size: 50px;
}

.dark-theme .title-score,
.dark-theme .notification {
  text-shadow: 1px 0 10px var(--font-color);
}

.notification {
  z-index: 98;
  font-size: 40px;
  color: var(--font-color);
  margin-top: 10%;
}

.score-table {
  z-index: 98;
  background-color: var(--transparent-back);
  color: var(--font-color);
  border-collapse: collapse;
  width: 60%;
  height: 60%;
}

.score-cell {
  text-align: center;
  padding: 7px;
  border: solid 1px var(--score-border);
}

.score-head-cell {
  font-size: 25px;
}

.score-def-cell {
  font-size: 22px;
}

.score-cell.time {
  font-size: 15px;
}


@media screen and (max-width: 1000px) {
  .branch-1 {
    left: -40px;
  }
  
  .branch-2 {
    right: -60px;
  }

  .game-mode {
    align-self: center;
  }

  .modal {
    width: 70%;
  }

  .score-modal {
    width: 70%;
  }

  .score-table {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .branch-1 {
    left: -10px;
  }
  
  .branch-2 {
    right: -40px;
  }

  .modal {
    width: 90%;
  }

  .ceil-clues-row {
    width: 75px;
    height: 20px;
  }

  .ceil-clues-col {
    width: 20px;
    height: 75px;
  }

  .score-modal {
    width: 80%;
  }

  .config-panel {
    flex-direction: column;
    padding: 5px 0 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .branch-1,
  .branch-2 {
    top: -20px;
  }
  
  .congrats {
    font-size: 30px;
  }

  .phrase {
    font-size: 20px;
  }

  .score-cell {
    font-size: 20px;
  }
}

@media screen and (max-width: 515px) {
  .config-panel {
    gap: 0;
  }

  .light,
  .dark,
  .volume,
  .wrap {
    width: 20px;
    height: 20px;
  }
  .volume.off::after {
    height: 20px;
    transform: rotate(45deg) translate(7px, -7px);
  }

  .menu {
    width: 20px;
    height: 35px;
  }

  .theme {
    width: 20px;
  }

  .score {
    width: 30px;
    height: 30px;
  }

  .score-head-cell {
    font-size: 17px;
  }

  .score-def-cell {
    font-size: 15px;
  }

  .score-def-cell.time {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .branch {
    width: 50%;
    top: -30px;
  }
  .level-menu {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .ceil-clues-row {
    width: 55px;
    height: 15px;
  }

  .ceil-clues-col {
    width: 15px;
    height: 55px;
  }

  .nums-col,
  .nums-row {
    font-size: 10px;
  }

  .game-btns {
    width: 330px;
  }

  .reset,
  .solution,
  .save {
    height: 30px;
    font-size: 12px;
  }

  .game-mode {
    margin: 10px;
  }

  .random,
  .last-game {
    height: 30px;
    font-size: 12px;
  }

  .score-modal {
    width: 95%;
  }

  .score-def-cell {
    font-size: 12px;
  }

  .score-def-cell.time {
    font-size: 10px;
  }
}
