/* сделать Title - flex center, config-panel - position fixed - top: 0*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Dancing Script', cursive;
  background-color: #ffff;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Images */

.tree {
  position: fixed;
  width: 500px;
}

.branch {
  z-index: -1;
  position: fixed;
  width: 500px;
}

.branch-1 {
  filter: brightness(1.2);
  left: 0;
  width: 700px;
  top: -40px;
  left: -150px;
}

.branch-2 {
  filter: brightness(0.6);
  right: 0;
}
/* Header */

.header {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 2fr;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  justify-self: flex-start;
}


.config-panel {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  background-color: rgba(255, 255, 255, 0.816);
  border-radius: 30px;
  width: 200px;
  height: 40px;
}

.theme,
.volume,
.menu {
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all ease 400ms;
}

.theme {
  background-image: url('./images/moon.png');
  width: 25px;
  height: 25px;
}

.theme:hover {
  filter: brightness(1.5);
  background-size: 110%;
  transform: rotate(-45deg);
}

.volume {
  background-image: url('./images/saxaphone.png');
  width: 25px;
  height: 25px;
}

.volume:hover {
  filter: brightness(1.5);
  transform: rotate(35deg);
}

.menu {
  background-image: url('./images/scroll.png');
  background-position: center;
  margin-left: 5px;
  width: 25px;
  height: 40px;
}

.menu:hover {
  filter: brightness(1.1);
  background-size: 140%;
}

.score {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./images/trophy.png');
  margin: 10px;
  transition: all ease 400ms;
}

.score:hover {
  filter: brightness(1.3);
  transform: rotate(-25deg);
}

/* Game Zone */

.game {
  width: fit-content;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.game-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.solution,
.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  width: 30%;
  height: 40px;
  background-color: #37843c;
  color: #fff;
  transition: all ease 400ms;
}

.solution:hover,
.reset:hover {
  filter: brightness(1.3);
}

/* Table */

table {
  user-select: none;
  align-self: center;
  font-size: 20px;
  border-collapse: collapse;
  border: solid 1px #181818;
  background-color: #fff;
}

.ceil {
  border: solid 1px #181818;
}

.ceil.bold {
  border-right: solid 2px #181818;
}

.row.bold {
  border-bottom: solid 2px #181818;
}

.ceil-box {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.ceil-box.painted {
  background-color: black;
  transition: all linear 300ms;
}

.ceil-box {
  position: relative;
}

.ceil-box.cross::after,
.ceil-box.cross::before {
  position: absolute;
  content: '';
  width: 1.5px;
  height: 40px;
  background-color: black;
  top: -5px;
  left: 14px;
}

.ceil-box.cross::after {
  transform: rotate(-45deg);
}
.ceil-box.cross::before {
  transform: rotate(45deg);
}

.ceil-clues-row {
  width: 85px;
  height: 25px;
}

.ceil-clues-col {
  width: 25px;
  height: 85px;
}

.nums-col,
.nums-row {
  font-size: 15px;
}

.nums-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  margin-right: 5px;
}

.nums-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: end;
  align-items: center;
}

/* Level Menu*/

.level-menu {
  z-index: 99;
  position: fixed;
  transform: translateX(-110%);
  align-self: flex-start;
  height: 70%;
  width: 350px;
  background-color: #ffff;
  border-bottom-right-radius: 20px;
  border: solid 0.5px gray;
  border-top: none;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  transition: all linear 350ms;
}

.greens {
  position: absolute;
  width: 120%;
  left: -35px;
  bottom: -130px;
}

.complexity {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.grade {
  cursor: pointer;
  user-select: none;
  width: 25%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #327a37;
  border: solid 1px #ffff;
  color: #ffff;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 17px;
  transition: all ease 400ms;
}

.grade:hover {
  width: 50%;
  filter: brightness(1.1);
}

.grade.chosen {
  height: 40px;
  width: 50%;
  filter: brightness(1.4);
}

.close-btn {
  position: absolute;
  right: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('./images/door.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease 300ms;
}

.close-btn:hover {
  filter: brightness(1.2);
  background-size: 130% 100%;
}

.level-list {
  z-index: 2;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level {
  cursor: pointer;
  user-select: none;
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 15px;
  color: #443a28;
  border: solid 1px gray;
  border-radius: 20px;
  opacity: 0;
}

.level.visible {
  opacity: 1;
  transition: opacity linear 500ms, filter linear 300ms,
    border-color linear 200ms;
}

.level.visible:hover {
  filter: brightness(0.95);
}

.level.visible.selected {
  filter: brightness(0.9);
  border-color: #ffffff00;
}
