* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Dancing Script', cursive;
  background-color: #ffff;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Images */

.tree {
  position: fixed;
  width: 500px;
}

.branch {
  z-index: -1;
  position: fixed;
  width: 500px;
}

.branch-1 {
  filter: brightness(1.2);
  left: 0;
  width: 700px;
  top: -40px;
  left: -150px;
}

.branch-2 {
  filter: brightness(0.6);
  top: 0;
  right: 0;
}
/* Header */

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  justify-self: flex-start;
}

.config-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.816);
  border-radius: 30px;
  width: 200px;
  height: 40px;
}

.theme,
.volume,
.menu {
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all ease 400ms;
}

.theme {
  background-image: url('./images/moon.png');
  width: 25px;
  height: 25px;
}

.theme:hover {
  filter: brightness(1.5);
  background-size: 110%;
  transform: rotate(-45deg);
}

.volume {
  background-image: url('./images/saxaphone.png');
  width: 25px;
  height: 25px;
}

.volume:hover {
  filter: brightness(1.5);
  transform: rotate(35deg);
}

.volume.off:hover {
  transform: rotate(0);
}

.volume.off::after {
  position: absolute;
  content: '';
  width: 1.5px;
  height: 30px;
  background-color: rgb(180, 23, 23);
  transform: rotate(45deg) translate(10px, -10px);
  transition: all ease 400ms;
}

.menu {
  background-image: url('./images/scroll.png');
  background-position: center;
  margin-left: 5px;
  width: 25px;
  height: 40px;
}

.menu:hover {
  filter: brightness(1.1);
  background-size: 140%;
}

.score {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./images/trophy.png');
  margin: 10px;
  transition: all ease 400ms;
}

.score:hover {
  filter: brightness(1.3);
  transform: rotate(-25deg);
}

/* Game Zone */

.game {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-btns {
  z-index: 2;
  order: 3;
  width: 490px;
  display: flex;
  justify-content: space-around;
}

.solution,
.reset,
.save {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  width: fit-content;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #37843c;
  font-size: 18px;
  color: #fff;
  transition: all ease 400ms;
}

.unclick-button {
  pointer-events: none;
  color: rgb(207, 206, 206);
  background-color: #807f7f;
}

.save {
  order: 3;
}

.solution:hover,
.reset:hover,
.save:hover {
  filter: brightness(1.3);
}

/* Table */

table {
  order: 2;
  user-select: none;
  align-self: center;
  font-size: 20px;
  border-collapse: collapse;
  border: solid 1px #181818;
  background-color: #fff;
  opacity: 0;
  animation: opacity 500ms ease-out forwards;
}

.unclick {
  pointer-events: none;
}

.ceil {
  border: solid 1px #181818;
}

.ceil.bold {
  border-right: solid 2px #181818;
}

.row.bold {
  border-bottom: solid 2px #181818;
}

.ceil-box {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.ceil-box.painted {
  background-color: black;
  transition: all linear 300ms;
}

.ceil-box {
  position: relative;
}

.ceil-box.cross::after,
.ceil-box.cross::before {
  position: absolute;
  content: '';
  width: 1.5px;
  height: 30px;
  background-color: black;
  top: -2px;
  left: 12px;
  opacity: 0;
  animation: opacity 300ms ease-out forwards;
}



.ceil-box.cross::after {
  transform: rotate(-45deg);
}
.ceil-box.cross::before {
  transform: rotate(45deg);
}

.ceil-clues-row {
  width: 85px;
  height: 25px;
}

.ceil-clues-col {
  width: 25px;
  height: 85px;
}

.nums-col,
.nums-row {
  font-size: 15px;
}

.nums-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  margin-right: 5px;
}

.nums-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: end;
  align-items: center;
}

/* Level Menu*/

.level-menu {
  z-index: 99;
  position: fixed;
  transform: translateX(-110%);
  align-self: flex-start;
  height: 85%;
  width: 450px;
  background-color: #ffff;
  border-bottom-right-radius: 20px;
  border: solid 0.5px gray;
  border-top: none;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  transition: all linear 350ms;
}

.greens {
  position: absolute;
  width: 120%;
  left: -50px;
  bottom: -170px;
}

.complexity {
  width: 90%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.grade {
  cursor: pointer;
  user-select: none;
  width: 25%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #327a37;
  border: solid 1px #ffff;
  color: #ffff;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 17px;
  transition: all ease 400ms;
}

.grade:hover {
  width: 50%;
  filter: brightness(1.1);
}

.grade.chosen {
  height: 45px;
  width: 50%;
  filter: brightness(1.4);
}

.close-btn {
  position: absolute;
  right: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('./images/door.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease 300ms;
}

.close-btn:hover {
  filter: brightness(1.2);
  background-size: 130% 100%;
}

.level-list {
  z-index: 2;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level {
  cursor: pointer;
  user-select: none;
  width: 60%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 16px;
  color: #443a28;
  border: solid 1px gray;
  border-radius: 30px;
  opacity: 0;
}

.level.visible {
  opacity: 1;
  transition: opacity linear 500ms, filter linear 200ms,
    border-color linear 200ms;
}

.level.visible:hover {
  filter: brightness(0.9);
}

.level.visible.selected {
  filter: brightness(0.8);
  border-color: #ffffff00;
}

/* Game-mode */

.game-mode {
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.random,
.last-game {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: fit-content;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all ease 500ms;
}

.random:hover,
.last-game:hover {
  filter: brightness(1.5);
}


/* Win Modal */

.overlay {
  z-index: 97;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.532);
  opacity: 0;
  transition: opacity 300ms ease-out;
  animation: opacity 300ms ease-out forwards;
}

.modal {
  z-index: 98;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 50%;
  height: 90%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  animation: opacity 300ms ease-out forwards;
}

.modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.congrats {
  font-size: 50px;
}

.phrase {
  font-size: 30px;
}

.next {
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  width: fit-content;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #37843c;
  font-size: 18px;
  color: #fff;
  transition: all ease 400ms;
}

.next:hover {
  filter: brightness(1.3);
}

.solved {
  border-collapse: collapse;
}

.solved-cell.painted {
  background-color: #181818;
}

.solved-cell.small {
  width: 50px;
  height: 50px;
}

.solved-cell.medium {
  width: 30px;
  height: 30px;
}

.solved-cell.big {
  width: 25px;
  height: 25px;
}

/* Score Modal*/

.score-modal {
  z-index: 99;
  position: fixed;
  width: 50%;
  height: 70%;
  background-color: #9ecf93;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  opacity: 0;
  animation: opacity 300ms ease-out forwards;
}

.score-modal.none {
  display: none;
}

.overlay {
  display: none;
}

.notification {
  font-size: 30px;
}

.score-list {
  border-collapse: collapse;
  border: solid 1px #181818;
}

.score-cell {
  text-align: center;
  padding: 10px;
  border: solid 1px #181818;
}

/* .score-def-cell {
  font-size: 25px;
} */


.score-head-cell {
  font-size: 25px;
}