.header {
  box-sizing: border-box;
  width: 90%;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: #00000015;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0 1px 2px #888787;
  font-size: 1.3rem;
}

.header__user-data {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.header__nav-buttons {
  display: flex;
  gap: 1em;
}
.header__log-out {
  text-decoration: none;
}

.header__friends {
  display: none;
}

@media screen and (max-width: 700px) {
  .header {
    width: 95%;
    flex-direction: column;
  }
  .header__user-data {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 1.1rem;
    flex-direction: column;
  }

  .header__nav-buttons {
    gap: 0.3em;
  }

  .header__friends {
    display: block;
  }
}
