.header {
  width: 90%;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000015;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0 1px 2px #62345f;
  font-size: 1.2rem;
}

.header__title {
  font-size: 1.3em;
}

.header__nav-buttons {
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 0.9rem;
  }
}
