.choose-lang {
    display: none;
}
.filter-menu {
    display: none;
}

.filter {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.lang__btn {
    cursor: pointer;
    user-select: none;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    box-shadow: 0.1em 0.1em 0.2em #000000;
    color: #e7f0d7;
    border-radius: 20px;
    font-size: 0.8rem;
    transition: all 150ms linear;
}

.lang__btn:hover {
    background-color: #272727;
}

.lang__btn.active {
    background-color: #e7f0d7;
    box-shadow: 0.1em 0.1em 0.5em #e7f0d7;

    color: #17181c;
}

.lang__btn-name {
    pointer-events: none;
}

@media (max-width: 640px) {
    .filter {
        display: none;
    }

    .backdrop {
        z-index: 1;
        position: fixed;
        inset: 0;
        background-color: #00000058;
    }
    .filter-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        z-index: 2;
        height: 50dvh;
        padding: 10px;
        background-color: #9198e56c;
        backdrop-filter: blur(3px);
        position: fixed;
        inset: 0;
        border: solid 1px black;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        transform: translateY(-110lvh);
        transition: all 300ms linear;
    }

    .choose-lang {
        user-select: none;
        cursor: pointer;
        display: block;
        height: fit-content;
        padding: 1rem;
        color: #e7f0d7;
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
        background-color: #000000;
        border-radius: 20px;
    }
}

@media (max-width: 350px) {
    .filter-menu {
        height: 70dvh;
    }
}
