.track {
  position: relative;
  border-bottom: dashed 1rem white;
  background-color: #c5c5c5;
  height: 110px;
  padding: 0.5rem 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.interaction {
  display: flex;
  gap: 1rem;
}

.manipulation {
  display: flex;
  gap: 0.5rem;
}

.car-name {
  color: #ffe600;
  text-shadow: 1px 2px 0 black;
  text-align: center;
  padding: 0.2rem 0.5rem;
  font-size: 1.3rem;
}

.car {
  bottom: 25px;
  left: 25px;
  position: absolute;
}
