.track {
  position: relative;
  border-bottom: dashed 0.8rem #ffffff;
  background-color: #bbb7b7;
  overflow: hidden;
  height: 100px;
  padding: 0.5rem 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.interaction {
  display: flex;
  gap: 1rem;
}

.manipulation {
  display: flex;
  gap: 0.5rem;
}

.car-name {
  color: #ffe600;
  text-shadow: 1px 2px 0 black;
  text-align: center;
  padding: 0.2rem 0.5rem;
  font-size: 1.3rem;
}

.track .car {
  z-index: 3;
  bottom: 20px;
  left: 40px;
  position: absolute;
  width: 20px;
}

.flag {
  position: absolute;
  background-image: url('../../../../assets/flag.png');
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 110px;
  bottom: 20px;
}

@media screen and (max-width: 700px) {
  .flag {
    width: 50px;
    height: 50px;
    right: 90px;
  }
}
