.main__users-section {
  padding: 0.6rem;
  background-color: #00000015;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  text-shadow: 0 1px 2px #888787;
}

/* .user-section__input {
  color: #ffffff;
  text-shadow: 0 1px 2px #a8a7a7;
  box-shadow: 0 1px 2px #5c5b5b;
  font-family: 'Concert One', sans-serif;
  font-size: 0.9em;
  background-color: transparent;
  padding: 0.2em 0.4em;
  border: none;
  outline: solid 1px #a8a7a7;
  border-radius: 5px;
}

.user-section__input:focus-visible {
  outline: solid 1px #807e7e;
  border: none;
}

.user-section__input::placeholder {
  text-shadow: none;
  color: #ababab;
} */

.users-section__list {
  padding: 0;
  list-style: none;
}

.user-section__item {
  cursor: pointer;
  padding: 0 0 0.2rem 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all linear 100ms;
}

.user-section__item.invisible {
  display: none;
}

.user-section__item:hover {
  background-color: rgba(0, 0, 0, 0.054);
}

.indicator {
  box-shadow: 0 1px 2px #62345f;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  border: solid 0.5px rgb(46, 46, 46);
}

.indicator.offline {
  background-color: #a4a4a4;
}

.indicator.online {
  background-color: rgb(65, 191, 65);
}

@media screen and (max-width: 600px) {
  .main__users-section {
    font-size: 0.9rem;
  }
}
