.main__users-section {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.user-section__sort-div {
  display: flex;
  margin-bottom: 0.2rem;
}

.user-section__input {
  width: 100%;
}

.users-section__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
}

.user-section__item {
  cursor: pointer;
  padding: 0 0.5rem 0.2rem 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all linear 100ms;
  width: 100%;
}

.item__name-status {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.item__name {
  overflow-wrap: break-word;
  width: 100%;
}

.user-section__item.invisible {
  display: none;
}

.user-section__item:hover {
  background-color: #0000000e;
}

.item__indicator {
  flex-shrink: 0;
  box-shadow: 0 1px 2px #62345f;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  border: solid 0.5px #2e2e2e;
}

.item__indicator.offline {
  background-color: #a4a4a4;
}

.item__indicator.online {
  background-color: rgb(65, 191, 65);
}

.item__message-counter {
  font-size: 0.6em;
  text-shadow: 0 1px 2px #888787;
  box-shadow: 0 1px 2px #62345f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #c296be;
  width: 17px;
  height: 17px;
}

.item__message-counter.invisible {
  display: none;
}

@media screen and (max-width: 600px) {
  .main__users-section {
    padding: 0.4rem;
  }

  .user-section__item {
    padding: 0.1rem 0.2rem 0.1rem 0;
  }

  .item__indicator {
    width: 5px;
    height: 5px;
  }

  .item__message-counter {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 500px) {
  .main__users-section {
    font-size: 1.2rem;
    display: none;
    z-index: 4;
    background-color: #a29a9a7b;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: 80%;
    height: 90%;
    max-height: 400px;
    min-height: 100px;
  }

  .user-section__sort-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .user-section__input {
    width: 80%;
  }

  .user-section__close {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .user-section__close::after,
  .user-section__close::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1.5px;
    background-color: rgb(193, 192, 192);
    top: 40%;
    right: 15%;
  }
  .user-section__close::after {
    transform: rotate(45deg);
  }
  .user-section__close::before {
    transform: rotate(-45deg);
  }

  .item__message-counter {
    width: 20px;
    height: 20px;
  }
}
