body,
html {
  height: 100%;
  font-size: 20px;
}

body {
  font-family: 'Madimi One', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efe9ca;
  margin: 0;
}

.exit-button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../assets/exit.png');
  background-size: contain;
  background-repeat: no-repeat;
}

