body,
html {
  height: 100%;
  font-size: 32px;
}

body {
  font-family: 'Dongle', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(239, 233, 202);
}
