.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  min-width: 200px;
  width: 100%;
  height: 100%;
}

.start-page .title {
  text-align: center;
  height: 3rem;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.start-page .brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.start-page p {
  margin: 0 1rem 0 1rem;
  font-size: 1.1rem;
}

.start-page .start-button {
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: rgb(62, 32, 11);
  color: white;
  text-decoration: none;
  margin: 1rem;
}

.exit-button {
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../assets/exit.png');
  background-size: contain;
  background-repeat: no-repeat;
}
