html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
}

body {
  font-family: 'Concert One', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000086;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  text-align: center;
  white-space: nowrap;
  font-family: 'Concert One', sans-serif;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 0.3em 1em;
  color: #ffffff;
  background-color: #50245f;
  transition: all linear 200ms;
  box-shadow: 0 1px 3px #5c5b5b;
}

.button:hover {
  text-shadow: 0 1px 3px #ffffff;
  background-color: #6c2f83;
}

.main-input {
  color: #ffffff;
  text-shadow: 0 1px 2px #a8a7a7;
  box-shadow: 0 1px 2px #5c5b5b;
  font-family: 'Concert One', sans-serif;
  font-size: 0.9em;
  background-color: transparent;
  padding: 0.2em 0.4em;
  border: none;
  outline: solid 1px #a8a7a7;
  border-radius: 5px;
}

.main-input:focus-visible {
  outline: solid 1px #807e7e;
  border: none;
}

.main-input::placeholder {
  text-shadow: none;
  color: #ababab;
}

.section {
  padding: 0.6rem;
  background-color: #00000015;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #ffffff;
  text-shadow: 0 1px 2px #888787;
}
