.footer {
  box-sizing: border-box;
  width: 90%;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: #00000015;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0 1px 2px #888787;
  font-size: 1.3rem;
}

.footer__school-logo {
  background-image: url('./../../../assets/rss-logo.jpg');
  background-size: cover;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.footer__git-name {
  display: flex;
  gap: 0.5rem;
}
.footer__git-logo {
  background-image: url('./../../../assets/github.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.footer__name {
  color: #ffffff;
}

.footer__year {
  font-size: 0.9em;
}

@media screen and (max-width: 700px) {
  .footer {
    width: 95%;
  }
}
