* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("/images/background.svg");
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hanged {
  display: flex;
  width: 450px;
  position: relative;
  margin: 50px;
}

.gallows {
  width: 400px;
  height: 450px;
}

.ginger {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 150px;
  top: 180px;
  opacity: 0;
}

.play-zone {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.riddle {
  width: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f9eadb;
  border-radius: 30px;
}

.word,
.attempt,
.hint,
.result,
.answer,
.play-again {
  text-align: center;
  color: #593624;
  font-family: "Inter", sans-serif;
}

.word {
  font-size: 1.4em;
}

.attempt {
  font-size: 1.1em;
  color: #a29996;
}

.hint {
  font-size: 1.3em;
  text-align: center;
}

.keyboard {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.key {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f9eadb;
  border: solid 1px #a46948;
  border-bottom: solid 5px #a46948;
  border-radius: 15px;
  color: #593624;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  transition: all 300ms linear;
}

.key:hover {
  background-color: #e7d1ba;
}

.key:active {
  border-bottom: solid 1px #a46948;
  transform: translateY(4px);
}

.key.clicked {
  cursor: default;
  pointer-events: none;
  background-color: #a29996;
  color: #3f3f3f;
  border-color: #6c6c6c;
  border-bottom: solid 1px #6c6c6c;
  transform: translateY(4px);
}

.outcome {
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  height: 40%;
  left: 50%;
  top: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 30px;
  background-color: #f9eadb;
  border: 1px solid #593624;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

}

.blackout {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.result {
  font-size: 3em
}

.answer {
  font-size: 1.5em;
  color: #7c6961;

}

.play-again {
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#f9eadb;
  font-size: 1.3em;
  width: 20%;
  height: 20%;
  background-color: #a46948;
  border: solid 1px #593624;
  border-bottom: solid 7px #593624; ;
  border-radius: 30px;
  transition: all 200ms linear;
}

.play-again:hover {
  cursor: pointer;
  background-color: #d4a081;
  border-bottom: solid 5px #593624;

}

.play-again:active {
  border-bottom: solid 1px #593624;
  transform: translateY(6px);

}