* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #aabcd6;
  background-image: url("images/background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "riddle gallows"
    "keyboard gallows";
}

.hanged {
  margin-bottom: 20px;
  position: relative;
  grid-area: gallows;
  align-self: end;

}

.gallows {
  width: 400px;
  height: 450px;
}

.ginger {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 50px;
  top: 140px;
}

.riddle {
  width: 70%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f9eadb;
  border-radius: 30px;
  grid-area: riddle;
 place-self: end center;
}

.word,
.attempt,
.hint,
.result,
.answer,
.play-again {
  text-align: center;
  color: #593624;
  font-family: "Inter", sans-serif;
}

.word {
  font-size: 1.4em;
}

.attempt {
  font-size: 1.1em;
  color: #a29996;
}

.hint {
  font-size: 1.3em;
  text-align: center;
}

.keyboard {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  grid-area: keyboard;
  place-self: center center;

}

.key {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f9eadb;
  border: solid 1px #a46948;
  border-bottom: solid 5px #a46948;
  border-radius: 30%;
  color: #593624;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  transition: all 300ms linear;
}

.key:hover {
  background-color: #e7d1ba;
}

.key:active {
  border-bottom: solid 1px #a46948;
  transform: translateY(4px);
}

.key.clicked {
  cursor: default;
  pointer-events: none;
  background-color: #a29996;
  color: #3f3f3f;
  border-color: #6c6c6c;
  border-bottom: solid 1px #6c6c6c;
  transform: translateY(4px);
}

.outcome {
  box-sizing: border-box;
  position: absolute;
  width: 60%;
  height: 40%;
  left: 50%;
  top: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  z-index: 998;
  border-radius: 30px;
  background-color: #f9eadb;
  border: 1px solid #593624;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.blackout {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
}

.result {
  font-size: 3em;
}

.answer {
  font-size: 1.5em;
  color: #7c6961;
}

.play-again {
  width: 30%;
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9eadb;
  font-size: 1.3em;
  height: 20%;
  background-color: #a46948;
  border: solid 1px #593624;
  border-bottom: solid 7px #593624;
  border-radius: 50px;
  transition: all 200ms linear;
}

.play-again:hover {
  cursor: pointer;
  background-color: #d4a081;
  border-bottom: solid 5px #593624;
}

.play-again:active {
  border-bottom: solid 1px #593624;
  transform: translateY(6px);
}

.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: falling linear infinite;
}

@keyframes falling {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}

@media screen and (max-width: 1140px) {
  .play-again {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-areas:
    "riddle riddle"
    "gallows keyboard";
  }

  .keyboard {
    width: 90%;
  }

  .riddle {
    place-self: center;
  }

  .outcome {
    width: 70%;
    height: 60%;
  }
}

@media screen and (max-width: 595px) {
  body {
    background-position-x: 0;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.8fr;
    grid-template-areas:
    "riddle"
    "gallows"
    "keyboard";
  }

  .riddle {
    gap: 5px;
    width: 80%;
  }

  .word, .hint, .answer, .play-again {
    font-size: 1em;
  }

  .attempt {
    font-size: 0.8em;
  }

  .hanged {
    place-self: end center;
    margin-bottom: 0;
  }

  .gallows {
    width: 300px;
    height: auto;
  }

  .ginger {
    top: 100px;
    width: 200px;
    height: auto;
  }

  .keyboard {
    width: 95%;
    gap: 3px;
    place-self: center;
    margin-bottom: 10px;
  }

  .key {
    width: 33px;
    height: 33px;
  }

  .outcome {
    height: 50%;
    width: 90%;
  }

  .result {
    font-size: 2.5em;
  }
}

@media  screen and (max-width: 357px) {
  .key {
    width: 30px;
    height: 30px;
  }
}
