.chat-field__title {
  margin-top: 10%;
}

.chat-field__separator {
  text-align: center;
  font-size: 0.8em;
  padding: 0 0.6em 0.1em 0.6em;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.255);
  border-radius: 3px;
  margin: 1.5rem 0;
}

.chat-field__message {
  position: relative;
  font-size: 0.6em;
  padding: 0.3rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.3rem;
  width: 50%;
  background-color: #ffffffa1;
  border-radius: 15px;
}

.chat-field__message.mine {
  cursor: pointer;
  align-self: flex-end;
}

.chat-field__message.not-mine {
  align-self: flex-start;
}

.message__header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.message__header > :last-child {
  font-size: 0.9em;
}

.message__text {
  padding: 0.7em;
  font-size: 1.3em;
  background-color: rgba(189, 129, 183, 0.486);
  border-radius: 5px;
}

.message__status {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.message__action-menu {
  position: absolute;
  top: 0;
  left: -10%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 50%;
  background-color: #747474a2;
  padding: 0.3em;
  border-radius: 5px;
  font-size: 1.4em;
}

.action-menu__action {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  transition: all linear 100ms;
}

.action-menu__action:hover {
  background-color: rgba(98, 98, 98, 0.342);
}

@media screen and (max-width: 700px) {
  .chat-field__message {
    width: 70%;
  }
}
